<h2>YOUR TASKS</h2>
<% i = 1 %>
<ul>
  <% @tasks.each do |task|%>
  <li>
    <%= link_to "#{i}. #{task[:name]}: #{task[:description]}", task_path(task.id) %>
  </li>
  <p>Mark Complete | Edit | Delete</p>

  <% i += 1 %>
  <% end %>
</ul>
