<% if @task.nil? %>
  <h1> 404 Not found</h1>
<% else %>
  <h1>Task Name: <%=@task[:name].capitalize %></h1>
  <h2>Description: <%= @task[:description] %></h2>
  <p>Completion Date: <%= @task[:completion_date] %> </p>
<% end %>
